# Dart and Flutter specific
.dart_tool/
.packages
.pub/
/build/
/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.dart-plugins
.pub-cache/
/build/
/generated/
/ios/Flutter/flutter_assets/
/android/app/build/
/web/build/
/web/packages/
/web/.dart_tool/
/build_runner/
.dart_tool/

# IDE-specific files
.idea/
.vscode/
*.code-workspace

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Android Gradle files
android/gradle.properties
android/local.properties
android/.gradle
android/captures/

# iOS build files
ios/Pods/
ios/Podfile.lock
ios/Podfile

# Temporary files
*.log
*.log.*
*.stackdump
*~

# Backup files
*.swp

# Flutter tooling versions
.flutter_version
